.login {
  height: 100vh;
  background-color: #DBE2EF;
  display: grid;
  place-items: center;
}

.login__container {
  padding: 100px;
  text-align: center;
  background-color: E3FDFD;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.login__container>img {
  object-fit: contain;
  height: 100px;
  margin-bottom: 40px;
}

.third_party_login>button.google {
  margin-top: 20px;
  text-transform: inherit !important;
  background-color: #fff;
  color: #4285f4;
  border: 2px solid #4285f4;
}

.third_party_login>button.google:hover {
  text-decoration: none;
}

.third_party_login>button.apple {
  margin-top: 10px;
  text-transform: inherit !important;
  background-color: #fff;
  border: 2px solid #1d1c1d;
}

.third_party_login>button.apple:hover {
  text-decoration: none;
}

.google>span>img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.apple>span>img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.third_party_login {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.btn {
  pointer-events: none;
  filter: none;
  opacity: .65
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #6c757d;
  --bs-btn-border-color: #6c757d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5c636a;
  --bs-btn-hover-border-color: #565e64;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #565e64;
  --bs-btn-active-border-color: #51585e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #6c757d;
  --bs-btn-disabled-border-color: #6c757d
}

#loading {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid rgb(255 255 255);
  border-radius: 50%;
  border-top-color: #0a8d48;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

#loading:hover {
  border: 3px solid #0a8d48;
  border-top-color: rgb(255 255 255);
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}